<div class="social-links">
  <a href="https://www.linkedin.com/in/abdullahmousselli/" target="_blank" class="social social-linkedin" title="Connect on LinkedIn">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/daniMusli" target="_blank" class="social social-github" title="Check my projects">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.instagram.com/abdallahmousselli/" target="_blank" class="social social-instagram" title="Follow me on Instgram">
    <i class="fab fa-instagram"></i>
  </a>
    <a href="https://www.facebook.com/abdallahmousselli201bk/" target="_blank" class="social social-facebook" title="Check my Facebook page">
    <i class="fab fa-facebook-f"></i>
  </a>
  <div class="clearfix"></div>
</div>
